.post .userRepeat {
    margin: 0px;
    font-style: italic;
    opacity: 0.7;
}

.ajs-message.ajs-custom {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
    text-align: center;
}